@font-face {
  font-family: "fontFamily";
  src: url('iconfont.eot?t=1549965201615');
  /* IE9 */
  src: url('iconfont.eot?t=1549965201615#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKgAAsAAAAABkwAAAJUAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApAXQE2AiQDCAsGAAQgBYUFBy0bmAUR1YtNsr9APLYrFCJQ597WYwuDRYoXv0uAgVoEBhCCFpAAAAAAABFEa2X1zBzNPRAGSEaxBTQqQoUtkFIEwkeYsAUSdj3GFMqd1vAvcMgtu4WBcai1tWbp1G2NifrnI9l5B6xKfiE54FzKQopvwFLmaA2wELyvERIm6uUgYmZ+RZYGgE8c83V5vhvwA4F1WWUINw+kG2gkBTiQT/6HsRtU8NB9AtWSfeLUx98GosiWBeJqmVvIzKIojr8rtAF7i3jCuuluCo/b78cfRwKSVpYlneP3AP0/D8o0d1YTWCEYh1vI2IdCXAJ6zgCFQ8+qR9Y4Vnzw46apNeKoSuH867LYAbCgs56JXXIeNTaB0g8PYo7pbFKnfX0R2JyvG7PZGbpRHDgf+2ohs5D3fBpj+XccA6A5ly0Q/Pd0fhkL+Nj7WlNzgUxHdxfa4FewCZtKzM3UqYRsoC4ZZFqaUFU0mIYx31llk+cNhGry7LqO5RFZtUUs1ENo6TuKtuo0qr3OHu4bdw0oSg97PNQQJrxDMuQDsgmfiIX6Dy1TIbRNRFBdmT2e2bcVre6rkFUK6M5Y+r7jQqmmeu3DtmVzXlG+b6wsivpXdiRT2XeYRsmG/5M6ElEbpkOeqTKy9C1+oB+jpulxkL4ir1GhOizjmEFPinzfgoFXIasU0J2x9H3HtUFN//sfti2b84ryfWMFWXGduSOZSvDomEYJEfFT1BGWPdol0yHPVBlZNFqLbBGzqGl6HMCzKvIaFQyuYRnn7ZhUFF1a0v7MDqiQydMsT8vmhz0BAAAA') format('woff2'),
    url('iconfont.woff?t=1549965201615') format('woff'),
    url('iconfont.ttf?t=1549965201615') format('truetype'),
    /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url('iconfont.svg?t=1549965201615#fontFamily') format('svg');
  /* iOS 4.1- */
}

.fontFamily {
  font-family: "fontFamily" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="el-icon-api"],
[class*=" el-icon-api"] {
  font-family: "fontFamily" !important;
  /* 以下内容参照第三方图标库本身的规则 */
  font-size: 18px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.el-icon-api-vue:before {
  content: "\e799";
}
