* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html,
body {
  /* min-width: 1200px; */
  height: 100%;
  max-height: 100%;
  /* overflow: hidden; */
  font-size: 16px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #232323;
}

html,
body,
div,
form,
p,
ul,
li,
span,
label,
img,
input,
ol,
strong,
textarea,
i,
a,
header,
footer,
em,
/* pre, */
select,
option,
nav,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  position: relative;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ul,
li {
  list-style: none;
} */

input,
textarea,
button {
  outline: none;
}

a {
  /* color: #fff; */
  text-decoration: none;
}

a:hover {
  color: none;
}

img {
  vertical-align: middle;
}
